.sqs-panel .other-input{padding:15px;}
.sqs-panel .other-input input{padding:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-moz-border-radius:4px;border-radius:4px;border:1px solid #ccc;border-top-color:#bbb;box-shadow:0 2px 2px rgba(0,0,0,.05) inset;font-size:1em;}
.sqs-panel .other-input input:focus{outline:none;color:#404040;border-color:#42b1ff;box-shadow:0 0 0 1px #42b1ff;}
.sqs-contribution-summary p{margin:0 0 30px 0;}
.sqs-contribution-summary .prompt{margin:0px 0 10px 0;}
.sqs-contribution-summary .contribution-option-list{margin-bottom:2em;}
.sqs-contribution-summary .contribution-option-list .option{margin:5px 0;padding:5px 0;cursor:pointer;font-size:12px;}
.sqs-contribution-summary .contribution-option-list .option:last-child{padding:0;}
.sqs-contribution-summary input{padding:6px;margin:0;margin-right:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-moz-border-radius:4px;border-radius:4px;border:1px solid #ccc;border-top-color:#bbb;box-shadow:0 2px 2px rgba(0,0,0,.05) inset;font-size:1em;}
.sqs-contribution-summary input:focus{outline:none;color:#404040;border-color:#42b1ff;box-shadow:0 0 0 1px #42b1ff;}
.sqs-panel-content{background:rgba(255,255,255,.98);color:#222;box-shadow:0 3px 25px rgba(0,0,0,.2);border:1px solid rgba(0,0,0,.2);}
.sqs-panel.sqs-panel-top{padding-top:9px;padding-left:20px;padding-right:20px;}
.sqs-panel.sqs-panel-bottom{padding-bottom:9px;padding-left:9px;}
.sqs-panel.sqs-panel-left{padding-bottom:20px;padding-left:9px;padding-right:20px;}
.sqs-panel.sqs-panel-right{padding-right:9px;padding-left:20px;}
.sqs-panel-pointer{overflow:hidden;}
.sqs-panel-pointer .sqs-overlay-content{position:absolute;height:13px;width:13px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:0% 0%;-moz-transform-origin:0% 0%;-ms-transform-origin:0% 0%;transform-origin:0% 0%;background:rgba(255,255,255,.98);box-shadow:inset 0 0 0 1px rgba(0,0,0,.2);}
.sqs-panel-pointer.sqs-panel-pointer-top,.sqs-panel-pointer.sqs-panel-pointer-bottom{min-width:17px;max-width:100%;height:10px;}
.sqs-panel-pointer.sqs-panel-pointer-top .sqs-overlay-content,.sqs-panel-pointer.sqs-panel-pointer-bottom .sqs-overlay-content{left:50%;top:-100%;}
.sqs-panel-pointer.sqs-panel-pointer-left,.sqs-panel-pointer.sqs-panel-pointer-right{min-height:17px;max-height:100%;width:10px;}
.sqs-panel-pointer.sqs-panel-pointer-left .sqs-overlay-content,.sqs-panel-pointer.sqs-panel-pointer-right .sqs-overlay-content{top:50%;margin-top:-8.5px;left:10px;}
.sqs-panel-pointer.sqs-panel-pointer-right .sqs-overlay-content{left:0;}
.sqs-panel-type-inline{position:relative;}
.sqs-panel-left .sqs-panel-pointer-left{float:left;}
.sqs-panel-left .sqs-panel-content{margin-left:9px;}
.sqs-panel-type-link-edit{width:auto !important;}
.sqs-panel-type-link-edit .sqs-panel-content{height:auto !important;background:#111;border:none;-moz-border-radius:5px;border-radius:5px;}
.sqs-checkout-form-payment .title{zoom:1;}
.sqs-checkout-form-payment .title:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-checkout-form-payment #credit-card{zoom:1;background:#f3f3f3;border:1px solid #ddd;padding:30px;-moz-border-radius:5px;border-radius:5px;}
.sqs-checkout-form-payment #credit-card:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-checkout-form-payment #credit-card.locked input{background:#eee;color:#999;}
.sqs-checkout-form-payment #credit-card.locked input:focus{box-shadow:0 2px 2px rgba(0,0,0,.05) inset;border:1px solid #ddd;}
.sqs-checkout-form-payment #card-holder-name{display:none;}
.sqs-checkout-form-payment #card-number{width:100%;}
.sqs-checkout-form-payment #card-number input{margin-top:0;}
.sqs-checkout-form-payment #expiry-cvc select{width:78px;float:left;margin-right:5px;}
.sqs-checkout-form-payment #card-expiry-month,.sqs-checkout-form-payment #card-expiry-year,.sqs-checkout-form-payment #cvc{width:auto;}
.sqs-checkout-form-payment #cvc{float:right;}
.sqs-checkout-form-payment #cvc input{width:60px;}
.sqs-checkout-form-payment #comfort{font-size:11px;margin-top:30px;color:#666;}
.sqs-checkout-form-payment #comfort a{border-bottom:1px dotted #ccc;}
.sqs-checkout-form-payment #place-order{zoom:1;clear:both;padding-top:30px;}
.sqs-checkout-form-payment #place-order:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-checkout-form-payment #place-order .button{float:right;width:180px;}
.sqs-checkout-form-payment #place-order .trust{float:left;}
@media only screen and (max-width:900px){#credit-card{padding:0;background:none;border:none;}
#cvc{float:left;}
}
@media only screen and (max-width:320px){#place-order .button{float:none;margin:0 auto 30px auto;}
#place-order .trust{float:none;margin:0 auto;}
#cvc{float:right;}
}
.sqs-checkout-form-section{background:#fff;margin-bottom:30px;padding:30px;position:relative;}
.sqs-checkout-form-section .title{font-size:16px;color:#333;}
.sqs-checkout-form-section .title .edit-button{float:right;font-size:11px;margin-top:4px;cursor:pointer;display:none;}
.sqs-checkout-form-section .title .cards{display:inline-block;float:right;position:relative;top:-3px;}
.sqs-checkout-form-section .check-element{padding-left:32px;cursor:pointer;background-position:3px 4px;background-repeat:no-repeat;background-color:transparent;background-image:url(/universal/images-v6/dialog/checkbox-inactive-16-light.png);}
.sqs-checkout-form-section fieldset{margin:0;padding:30px 0 0 0;border:0;clear:both;}
.sqs-checkout-form-section fieldset .title{font-size:13px;font-weight:bold;}
.sqs-checkout-form-section fieldset .subtitle{color:#333;font-weight:bold;clear:both;padding-top:30px;}
.sqs-checkout-form-section fieldset .check-element{background-image:url(/universal/images-v6/dialog/checkbox-inactive-16-dark.png);padding-top:5px;height:20px;clear:both;margin-top:10px;opacity:.6;-webkit-transition:opacity .2s ease-out;-moz-transition:opacity .2s ease-out;-o-transition:opacity .2s ease-out;transition:opacity .2s ease-out;}
.sqs-checkout-form-section fieldset .check-element.active{opacity:1;background-image:url(/universal/images-v6/dialog/checkbox-active-16-dark.png);}
.sqs-checkout-form-section fieldset .field{position:relative;float:left;width:100%;}
.sqs-checkout-form-section fieldset .field label:not(.shipping-option-label){display:none;margin-top:15px;font-size:12px;}
.sqs-checkout-form-section fieldset .field label:not(.shipping-option-label) span{white-space:nowrap;}
.sqs-checkout-form-section fieldset .field .field-element{width:100%;padding:6px;margin:.6em 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-moz-border-radius:4px;border-radius:4px;border:1px solid #ccc;border-top-color:#bbb;box-shadow:0 2px 2px rgba(0,0,0,.05) inset;font-size:1em;}
.sqs-checkout-form-section fieldset .field input.field-element,.sqs-checkout-form-section fieldset .field select.field-element,.sqs-checkout-form-section fieldset .field textarea.field-element{box-shadow:0 0 0 1px rgba(0,0,0,0);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.sqs-checkout-form-section fieldset .field input.field-element:focus,.sqs-checkout-form-section fieldset .field select.field-element:focus,.sqs-checkout-form-section fieldset .field textarea.field-element:focus{outline:none;color:#404040;border-color:#42b1ff;box-shadow:0 0 0 1px #42b1ff;}
.sqs-checkout-form-section fieldset .field input.field-element.warn,.sqs-checkout-form-section fieldset .field select.field-element.warn,.sqs-checkout-form-section fieldset .field textarea.field-element.warn{border-color:#a00;box-shadow:0 0 0 1px #a00;}
.sqs-checkout-form-section fieldset .field textarea.field-element{resize:vertical;max-height:100px;}
.sqs-checkout-form-section fieldset .field input.field-element,.sqs-checkout-form-section fieldset .field textarea.field-element{padding:8px 10px;border:1px solid #ddd;color:#333;}
.sqs-checkout-form-section fieldset .field input.field-element::-webkit-input-placeholder,.sqs-checkout-form-section fieldset .field textarea.field-element::-webkit-input-placeholder{color:#ccc;}
.sqs-checkout-form-section fieldset .field input.field-element:-moz-placeholder,.sqs-checkout-form-section fieldset .field textarea.field-element:-moz-placeholder{color:#ccc;}
.sqs-checkout-form-section fieldset .field select.field-element{height:34px;}
.sqs-checkout-form-section fieldset .field.first-name,.sqs-checkout-form-section fieldset .field.last-name{width:49%;}
.sqs-checkout-form-section fieldset .field.city{width:42%;}
.sqs-checkout-form-section fieldset .field.state{width:24%;}
.sqs-checkout-form-section fieldset .field.zip{width:30%;}
.sqs-checkout-form-section fieldset .field.first-name,.sqs-checkout-form-section fieldset .field.city,.sqs-checkout-form-section fieldset .field.state{margin-right:2%;}
.sqs-checkout-form-section fieldset .field.error{color:#a00;}
.sqs-checkout-form-section fieldset .field.error.required input,.sqs-checkout-form-section fieldset .field.error.required select{border:1px solid #a00;}
.sqs-checkout-form-section fieldset .sqs-async-form-content label{display:block !important;}
.sqs-checkout-form-section fieldset .error-summary{color:#fff;background:#a00 url(/universal/images-v6/dialog/tiny-alert.png) no-repeat 7px 7px;padding:5px 8px 5px 28px;font-size:11px;-moz-border-radius:2px;border-radius:2px;line-height:19px;margin-bottom:30px;}
.sqs-checkout-form-section fieldset .btn-container{padding-top:30px;clear:both;}
.sqs-checkout-form-section fieldset .button{max-width:150px;background:#222;font-size:12px;line-height:normal;cursor:pointer;text-transform:uppercase;letter-spacing:1px;text-align:center;padding:11px 0;margin:0px auto 0px auto;box-shadow:none;float:none;-moz-border-radius:25px;border-radius:25px;color:#fff;}
.sqs-checkout-form-section .saved-fieldset{padding-top:30px;}
.sqs-checkout-form-section .hidden{display:none;}
.sqs-checkout-form-section.complete .title .edit-button{display:inline;}
.sqs-checkout-form-section.complete .title .cards{display:none;}
.sqs-checkout-form-section.complete fieldset{display:none;}
.sqs-checkout-form-section.incomplete{opacity:.6;}
.sqs-checkout-form-section.incomplete .title .cards{display:none;}
.sqs-checkout-form-section.incomplete fieldset{display:none;}
.sqs-checkout-form-section.show-labels fieldset .field label:not(.shipping-option-label){display:block;}
.sqs-checkout-form-section.show-labels fieldset .field .field-element{margin-top:2px;}
.sqs-checkout-form-section.no-form{display:none;}
@media only screen and (max-width:900px){.sqs-checkout-form-section{padding:30px 15px;margin-bottom:15px;}
}
.absolute-cart-box{position:fixed;top:10px;right:10px;z-index:9000;}
.sqs-pill-shopping-cart{font-family:'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;}
.sqs-pill-shopping-cart.sqs-scalable-hidden{display:none;}
.sqs-pill-shopping-cart-content{min-width:220px;-moz-border-radius:30px;border-radius:30px;height:26px;cursor:pointer;white-space:nowrap;line-height:18px;font-size:12px;padding:10px 15px;}
.sqs-pill-shopping-cart .icon{height:18px;width:18px;display:inline-block;margin-right:15px;position:relative;top:5px;margin-right:10px;margin-left:5px;}
.sqs-pill-shopping-cart .details{float:none;text-transform:none;display:inline-block;letter-spacing:0;line-height:normal;font-style:normal;}
.sqs-pill-shopping-cart .subtotal{border:none;padding:0;display:inline-block;position:absolute;right:25px;top:14px;max-width:75px;}
.sqs-pill-shopping-cart .subtotal .price{font-size:15px;font-weight:bold;max-width:70px;float:right;letter-spacing:1px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sqs-pill-shopping-cart-content.dark{box-shadow:0 0 0 1px rgba(0,0,0,.085), 0 1px 0 0 rgba(0,0,0,.15);border:1px solid rgba(255,255,255,.05);color:#ddd;background-color:#111;background-image:-o-linear-gradient(#1e1e1e,#040404);background-image:-moz-linear-gradient(#1e1e1e,#040404);background-image:-ms-linear-gradient(#1e1e1e,#040404);background-image:-webkit-linear-gradient(#1e1e1e,#040404);background-image:linear-gradient(#1e1e1e,#040404);}
.sqs-pill-shopping-cart-content.dark .icon{background:url(/universal/images-v6/icons/icon-cart-18-light.png);}
.sqs-pill-shopping-cart-content.dark:hover{color:#fff;}
.sqs-pill-shopping-cart-content.light{box-shadow:0 1px 1px 0 rgba(0,0,0,0.3);border:none;color:#666;background-color:#eee;background-image:-o-linear-gradient(#fbfbfb,#e1e1e1);background-image:-moz-linear-gradient(#fbfbfb,#e1e1e1);background-image:-ms-linear-gradient(#fbfbfb,#e1e1e1);background-image:-webkit-linear-gradient(#fbfbfb,#e1e1e1);background-image:linear-gradient(#fbfbfb,#e1e1e1);}
.sqs-pill-shopping-cart-content.light .icon{background:url(/universal/images-v6/icons/icon-cart-18-dark.png);}
.sqs-pill-shopping-cart-content.light:hover{color:#333;}
@media only screen and (max-width:700px){.absolute-cart-box{position:fixed;bottom:0;left:0;top:auto;}
.sqs-pill-shopping-cart{position:fixed;bottom:0;left:0;top:auto;width:100%;}
.sqs-pill-shopping-cart-content{-moz-border-radius:0px;border-radius:0px;}
}
.sqs-checkout-form-shipping #ship-to-billing{margin:0;}
.sqs-checkout-form-shipping.no-shipping{display:none;}
.sqs-checkout-form-shipping-content.empty-shipping-options .continue-button{max-width:250px;}
.sqs-checkout-form-shipping #shipping-address-wrapper{overflow:hidden;height:220px;zoom:1;-webkit-transition:opacity 0.3s linear, height 0.3s ease-out;-moz-transition:opacity 0.3s linear, height 0.3s ease-out;-o-transition:opacity 0.3s linear, height 0.3s ease-out;transition:opacity 0.3s linear, height 0.3s ease-out;}
.sqs-checkout-form-shipping #shipping-address-wrapper:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-checkout-form-shipping #shipping-address-wrapper.hidden{height:0;display:block;opacity:0;}
.sqs-panel-type-tooltip.sqs-panel-left .sqs-tourtip:before{right:41px;}
.sqs-panel-type-tooltip.sqs-panel-top .sqs-panel-pointer-top div{top:0;}
.sqs-panel-type-tooltip.sqs-panel-top .sqs-tourtip:before{top:28px;right:41px;}
.sqs-panel-type-tooltip.sqs-panel-right .sqs-tourtip:before{right:30px;}
.sqs-panel-type-tooltip .sqs-tourtip{cursor:pointer;padding:15px 30px 15px 50px;background-position:16px 21px;background-repeat:no-repeat;}
.sqs-panel-type-tooltip .sqs-tourtip:before{content:' ';display:block;position:absolute;top:20px;right:20px;opacity:.2;height:8px;width:8px;background:url('//static.squarespace.com/universal/images-v6/icons/icon-close-8-dark.png') center center no-repeat;}
.sqs-panel-type-tooltip .sqs-tourtip-info{background-image:url('//static.squarespace.com/universal/images-v6/dialog/tooltip-icon-info-dark.png');}
.sqs-panel-type-tooltip .sqs-tourtip-question{background-image:url('//static.squarespace.com/universal/images-v6/dialog/tooltip-icon-question-dark.png');}
.sqs-panel-type-tooltip .sqs-tourtip-okay{background-image:url('//static.squarespace.com/universal/images-v6/dialog/tooltip-icon-okay-dark.png');}
.sqs-panel-type-tooltip .sqs-tourtip-alert{background-image:url('//static.squarespace.com/universal/images-v6/dialog/tooltip-icon-alert-dark.png');}
.sqs-panel-type-tooltip .sqs-tourtip-open{padding:32px;}
.sqs-panel-type-tooltip .sqs-tourtip-title{font-size:15px;line-height:18px;font-weight:600;padding-bottom:8px;color:#222;}
.sqs-panel-type-tooltip .sqs-tourtip-body{font-size:12px;line-height:16px;font-weight:400;color:#666;}
.sqs-async-form-content.saving{opacity:.5;}
.sqs-checkout-form-shipping-options-content{zoom:1;-webkit-transition:opacity .4s ease-out;-moz-transition:opacity .4s ease-out;-o-transition:opacity .4s ease-out;transition:opacity .4s ease-out;position:relative;}
.sqs-checkout-form-shipping-options-content:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-checkout-form-shipping-options-content .empty-message{margin-top:5px;display:none;}
.sqs-checkout-form-shipping-options-content.empty .empty-message{display:block;}
.sqs-checkout-form-shipping-options-content .warning-message{color:#fff;background:#c1b12e;height:0;font-size:11px;opacity:0;padding:0 12px;}
.sqs-checkout-form-shipping-options-content .warning-message img{position:relative;top:3px;margin-right:8px;}
.sqs-checkout-form-shipping-options-content .active-warning-style{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content.show-zip-warning .zip-warning-message{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content.show-zip-invalid-warning .zip-invalid-warning-message{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content.show-weight-missing-warning .weight-missing-warning-message{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content.show-service-unavailable-warning .service-unavailable-warning-message{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content.show-carrier-warning .carrier-warning-message{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;opacity:1;height:20px;padding:5px 10px 6px 12px;margin-top:5px;}
.sqs-checkout-form-shipping-options-content .shipping-option{position:relative;margin-right:2%;width:98%;padding-top:10px;}
.sqs-checkout-form-shipping-options-content .shipping-option:last-child{padding-bottom:10px;}
.sqs-checkout-form-shipping-options-content .shipping-option .option{cursor:pointer;}
.sqs-checkout-form-shipping-options-content .shipping-option .option label{margin-left:1em;font-size:12px;cursor:pointer;}
.sqs-checkout-form-shipping-options-content .shipping-option .option label input{width:auto;margin:0;cursor:pointer;float:left;}
.sqs-checkout-form-shipping-options-content .shipping-option .option label .option-name{margin-left:10px;max-width:240px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sqs-checkout-form-shipping-options-content .shipping-option .option label .cost{float:left;margin-left:5px;}
.sqs-checkout-form-shipping-options-content .shipping-option .option label span{white-space:nowrap;}
.sqs-checkout-form-shipping-options-content .shipping-option .option .shipping-failure{display:none;position:relative;height:12px;width:14px;top:3px;left:3px;}
.sqs-checkout-form-shipping-options-content .shipping-option.disabled{opacity:.7;font-style:italic;}
.sqs-checkout-form-shipping-options-content .shipping-option.disabled .option,.sqs-checkout-form-shipping-options-content .shipping-option.disabled .option label,.sqs-checkout-form-shipping-options-content .shipping-option.disabled .option label input{cursor:default;}
.sqs-checkout-form-shipping-options-content .shipping-option.disabled .option .cost{display:none;}
.sqs-checkout-form-shipping-options-content .shipping-option.disabled .option .shipping-failure{display:inline-block;}
.sqs-checkout-form-shipping-options-content .loading-spinner{width:100%;top:50%;margin-top:-9px;display:none;position:absolute;}
.sqs-checkout-form-shipping-options-content .loading-spinner .sqs-spin{display:block;margin:0 auto;}
.sqs-checkout-form-shipping-options-content.multiple-options .loading-spinner{margin-top:-17px;}
.sqs-checkout-form-shipping-options-content.loading-options{cursor:wait;pointer-events:none;}
.sqs-checkout-form-shipping-options-content.loading-options .loading-spinner{display:block;}
.sqs-checkout-form-shipping-options-content.loading-options .warning-message{opacity:0;height:0;padding:0;margin:0;}
.sqs-checkout-form-shipping-options-content.loading-options .shipping-option{opacity:.6;font-style:none;}
.sqs-checkout-form-shipping-options-content.loading-options .shipping-option .option .shipping-failure{display:none;}
.sqs-checkout-form-shipping-options-content.loading-options .shipping-option,.sqs-checkout-form-shipping-options-content.loading-options .shipping-option .option,.sqs-checkout-form-shipping-options-content.loading-options .shipping-option .option label,.sqs-checkout-form-shipping-options-content.loading-options .shipping-option .option label input{cursor:wait;}
.sqs-system-button-style-mixin{display:inline-block;width:auto;height:auto;padding:1em 2.5em;color:#fff;background-color:#272727;border-width:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:1em;font-weight:normal;font-style:normal;text-transform:uppercase;letter-spacing:0px;text-align:center;text-decoration:none;white-space:nowrap;cursor:pointer;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.sqs-fullpage-shopping-cart{text-transform:none;}
.sqs-fullpage-shopping-cart-content{position:relative;}
.sqs-fullpage-shopping-cart-content .loading-spinner{width:100%;top:40%;position:absolute;margin-top:25px;display:none;}
.sqs-fullpage-shopping-cart-content .loading-spinner .sqs-spin{display:block;margin:0 auto;}
.sqs-fullpage-shopping-cart-content.loading-cart{cursor:wait;pointer-events:none;}
.sqs-fullpage-shopping-cart-content.loading-cart .cart-container table tr td.item-desc a,.sqs-fullpage-shopping-cart-content.loading-cart .cart-container table tr td.item-desc .additional-fields,.sqs-fullpage-shopping-cart-content.loading-cart .cart-container table tr td.remove .remove-item{cursor:wait;}
.sqs-fullpage-shopping-cart-content.loading-cart .loading-spinner{display:block;}
.sqs-fullpage-shopping-cart-content.loading-cart .title,.sqs-fullpage-shopping-cart-content.loading-cart table,.sqs-fullpage-shopping-cart-content.loading-cart .subtotal,.sqs-fullpage-shopping-cart-content.loading-cart .checkout,.sqs-fullpage-shopping-cart-content.loading-cart .empty-message{opacity:.6;}
.sqs-fullpage-shopping-cart-content .cart-container{zoom:1;}
.sqs-fullpage-shopping-cart-content .cart-container:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-fullpage-shopping-cart-content .cart-container table{zoom:1;width:100%;padding-bottom:10px;}
.sqs-fullpage-shopping-cart-content .cart-container table:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-fullpage-shopping-cart-content .cart-container table thead{padding-bottom:15px;border-bottom:1px solid #ddd;}
.sqs-fullpage-shopping-cart-content .cart-container table thead td{font-size:11px;font-weight:bold;padding-bottom:10px;}
.sqs-fullpage-shopping-cart-content .cart-container table tbody{min-height:70px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr{zoom:1;padding:3px 0px;padding-right:15px;line-height:15px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-fullpage-shopping-cart-content .cart-container table tr td{vertical-align:middle;padding:15px 0;border-bottom:1px solid #ddd;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item{text-align:left;width:100px;zoom:1;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item img{width:100px;vertical-align:top;margin-right:8px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc{max-width:228px;padding-left:15px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc a{font-size:14px;line-height:17px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc .variant-info,.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc .additional-fields{font-size:11px;line-height:17px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc .variant-info{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.item-desc .additional-fields{text-decoration:underline;cursor:pointer;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.quantity{white-space:nowrap;text-align:right;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.quantity input{text-align:right;margin-left:5px;border:1px solid #ccc;padding:5px 10px;-moz-border-radius:4px;border-radius:4px;float:right;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.quantity input:focus{border:1px solid #555;outline:0;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.quantity input.readonly{border:none;padding:0;background:none;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.quantity .cooldown{display:none;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.price{text-align:right;white-space:nowrap;padding-left:10px;min-width:40px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.remove{min-width:30px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.remove .remove-item{float:right;margin-right:10px;width:11px;height:11px;background:transparent url('/universal/images-v6/icons/icon_close_7_dark.png') center center no-repeat;cursor:pointer;opacity:.5;}
.sqs-fullpage-shopping-cart-content .cart-container table tr td.remove .remove-item:hover{opacity:.9;}
.sqs-fullpage-shopping-cart-content .cart-container .subtotal{border-bottom:1px solid #ddd;padding-top:20px;padding-bottom:15px;padding-right:15px;text-align:right;float:right;width:50%;zoom:1;}
.sqs-fullpage-shopping-cart-content .cart-container .subtotal:after{display:block;visibility:hidden;font-size:0;height:0;clear:both;content:".";}
.sqs-fullpage-shopping-cart-content .cart-container .subtotal .label{font-size:16px;margin-right:15px;}
.sqs-fullpage-shopping-cart-content .cart-container .subtotal .price{text-align:right;font-size:16px;}
.sqs-fullpage-shopping-cart-content .checkout{float:right;clear:both;padding-right:15px;}
.sqs-fullpage-shopping-cart-content .checkout-button{display:inline-block;width:auto;height:auto;padding:1em 2.5em;color:#fff;background-color:#272727;border-width:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:1em;font-weight:normal;font-style:normal;text-transform:uppercase;letter-spacing:0px;text-align:center;text-decoration:none;white-space:nowrap;cursor:pointer;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:20px 0;}
.sqs-fullpage-shopping-cart-content .empty-message{display:none;}
.sqs-fullpage-shopping-cart-content.empty .cart-container{display:none;}
.sqs-fullpage-shopping-cart-content.empty .empty-message{display:block;}
@media only screen and (max-width:700px){.sqs-fullpage-shopping-cart-content .cart-container table tr .item{width:50px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc{max-width:100px;padding-left:5px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr .item-desc a{font-size:12px;}
.sqs-fullpage-shopping-cart-content .cart-container table tr .item-image img{max-width:40px;}
.sqs-fullpage-shopping-cart-content .cart-container .subtotal{width:75%;}
}
